<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nexmoBaseUrl" value="https://rest.nexmo.com/"/>
    <add key="nexmoApi" value="sms/json"/>
    <add key="currencyBaseUrl" value="https://api.exchangeratesapi.io/"/>
    <add key="currencyApi" value="latest?base=USD"/>
    <add key="idexBaseUrl" value="https://api.idex.market/"/>
    <add key="idexApi" value="returnTicker"/>
    <add key="ethToUsdBaseUrl" value="https://min-api.cryptocompare.com/"/>
    <add key="ethToUsdApi" value="data/price?fsym=ETH&amp;tsyms=USD"/>
    <add key="idexTicker" value="ETH_MITX"/>
    <add key="cryptoAmount" value="348529.319"/>
    <add key="mobileNumber" value="639491787195"/>
    <add key="dayToSendSms" value="Wednesday"/>
    <add key="timeToSendSms" value="18:00:00"/>
    <add key="nexmoKey" value="f1da6f27"/>
    <add key="nexmoSecret" value="Tbfmf9N5kEDl6ryO"/>
    <add key="sendGridKey" value="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"/>
    <add key="emailAddress" value="ljournllagas@gmail.com"/>
    <add key="timeToEmail" value="09:50:00"/>
  </appSettings>
</configuration>